# Machine learning 101
pandas
numpy
matplotlib
scikit-learn

# Meta PyTorch packages
torch
torchvision
torchaudio

# Google JAX packages
jax
flax

# Google Tensorflow
tensorflow

# Apple MLX packages
mlx

# Open Neural Network Exchange
onnx
skl2onnx
tf2onnx
onnxruntime

# Linear Programming
pulp

# Notebooks
jupyterlab

# ML on AWS
boto3
sagemaker
aws-lambda-powertools
aws-lambda-powertools[tracer,validation,parser,datamasking]

# Common
requests
pytest